{% extends "base.twig" %}
{% block content %}

<div data-template="page-home.twig">

  <section class="home-hero-section">
    <div class="">
      
        {% if home_hero is not empty %}
        
        <div class="slideshow-container">
        
            {% for post in home_hero %}
            <div class="mySlides fade">
            {% include 'tease-home-hero.twig' %}
            </div>
            {% endfor %}
        
        </div>

        {% else %}
        <div class="uk-height-large uk-cover-container">
          <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center uk-position-cover">
            <div>
              <h1>This is the Hero Slider section</h1>
              <div class="uk-container uk-container-small"><p>No posts found. This section shows your 3 most recent sticky posts in a Hero Slider. Add some posts, make them sticky & don't forget to add featured images!</p></div>
            </div>
          </div>
        </div>
        {% endif %}
    
    </div>
  </section>

  <section class="home-latest-section">
    
    <div class="latest-title theme-border-bottom">
      <div class="uk-text-center uk-text-uppercase">
        The Latest
      </div>
    </div>
    
    <div class="uk-section uk-container">
      {% if home_latest is not empty %}
        <div class="uk-child-width-1-2@m uk-grid uk-grid-medium">
          {% for post in home_latest %}
          {% include 'tease-home-latest.twig' %}
          {% endfor %}
        </div>
      {% else %}
      <div class="uk-padding uk-text-center">
        <h2><span>Latest Posts</h2>
        <p class="uk-margin-remove-bottom">No posts found. This section shows your next 2 non-sticky posts. Add 2 more posts & don't forget to add featured images!</p>
      </div>
      {% endif %}
    </div>
    
  </section>
  
  <section class="home-widgets-section uk-section uk-section-small uk-background-secondary uk-light">
    <div class="uk-container uk-container-small">
      <div class="uk-child-width-1-2@m uk-grid uk-flex uk-flex-middle" uk-grid>
        <div>
          <div class="uk-width-5-6@m">
            {% if sidebar_home_one %}
            {{sidebar_home_one}}
            {% else %}
            <h4 class="uk-margin-medium-bottom uk-margin-remove-top">Add some widgets,<br>
              to the widgets area
            </h4>
            <hr>
            <a href="#" class="uk-animation-toggle" tabindex="0">Link goes here
              <span class="slider-link-icon uk-margin-small-left uk-animation-slide-left-small" uk-icon="arrow-right"></span>
            </a>
            {% endif %}
          </div>
        </div>
        <div>
          {% if sidebar_home_two %}
          {{sidebar_home_two}}
          {% else %}
          <img class="" data-src="http://uikitwp.robmccormack.me/wp-content/uploads/2020/11/studiomcgee_Holiday2020_080-951x489.jpg" alt="" data-height data-width uk-img>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section uk-section-small home-posts-section">
    <div class="uk-container">
      
      {% if home_posts is not empty %}
      <div class="home-archive-posts uk-child-width-1-2@s {{the_mason_width}} uk-grid-small" uk-grid="">
        {% for post in home_posts %}
        {% include 'tease.twig' %}
        {% endfor %}
      </div>
      {% else %}
      <div class="uk-padding uk-text-center">
        <h3><span>More Articles</h3>
        <p class="uk-margin-remove-bottom">No posts found. This section shows your next 12 most recent non-sticky posts. Add some more posts, don't make them sticky & add featured images!</p>
      </div>
      {% endif %}
          
    </div>
  </section>
  
</div>

{% endblock %}
