{% extends "base.twig" %}

{% block content %}
<div class="uk-section" data-template="index.twig">
  <div class="uk-container">
    
    <div>
        
        {% if posts is not empty %}
        <div class="archive-posts uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-medium" uk-grid>
          {% for post in posts %}
          {% include ['tease-main.twig'] %}
          {% endfor %}
        </div>
        {% else %}
        <p class="uk-text-emphasis">No posts found. Add some posts!</p>
        {% endif %}
          
        {% if is_paginated %}
        {% include 'pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        {% endif %}

    </div>
  </div>
</div>
{% endblock %}